<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".WeAnimalsApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeAnimals">
        <activity
            android:name=".home.presentation.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adoption.listing.presentation.AdoptionActivity"
            android:exported="false" />
        <activity
            android:name=".adoption.detail.presentation.AnimalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".adoption.questionnaire.presentation.AdoptionQuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".adoption.compatibility.presentation.CompatibleProfileActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.report.presentation.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.report.presentation.sent.ReportSentActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.locationsearch.presentation.LocationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.triage.presentation.TriageActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.tracking.presentation.TrackingActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.details.presentation.ReportDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".reporting.chat.presentation.CaseChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
